@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
}

footer {
  background-color: rgba(20, 90, 95, 0.771);
  display: flex;
}

.redes {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.redes a {
  padding: 5px;
}

.bg {
  background-color: rgba(20, 90, 95, 0.771);
}

body {
  font-family: "Poppins", sans-serif;
}

.col {
  margin: 10px;
}

.h1 {
  font-family: "Poppins", sans-serif;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: rgba(20, 90, 95, 0.771);
}

.h3 {
  font-family: "Poppins", sans-serif;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: rgba(20, 90, 95, 0.771);
}

.acercar {
  overflow: hidden;
}

.acercar img {
  transition: all 2s;
}

.acercar:hover img {
  transform: scale(1.5);
}

.acercar {
  overflow: hidden;
}

.acercar img {
  height: 300px;
  width: 300px;
  transition: all 2s;
}

.acercar:hover img {
  transform: scale(1.5);
}

.col {
  display: flex;
  justify-content: center;
  height: 500px;
}

@media (min-width: 1024px) {
  .proteina {
    grid-area: proteina;
  }
  .aminoacidos {
    grid-area: aminoacidos;
  }
  .creatina {
    grid-area: creatina;
  }
  .barras {
    grid-area: barras;
  }
  .mancuernas {
    grid-area: mancuernas;
  }
  .discos {
    grid-area: discos;
  }
  .grillaProductos {
    display: grid;
    align-items: center;
    grid-template-areas: "proteina aminoacidos creatina" "barras   mancuernas  discos  ";
  }
}
header {
  grid-area: header;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}

.grilla {
  display: grid;
  grid-template-areas: "header" "main" "footer";
}

.grid_nosotros {
  display: grid;
}

.mediosDePago {
  grid-area: mediosDePago;
}

.envios {
  grid-area: envios;
}

.pregFrecuentes {
  grid-area: pregFrecuentes;
}

.calculoEnvio {
  grid-area: calculoEnvio;
}

.publicidad {
  grid-area: publicidad;
}

.grillaAyuda {
  display: grid;
  grid-template-areas: "publicidad" "mediosDePago" "envios" "calculoEnvio" "pregFrecuentes";
}

.mediosDePago, .envios, .calculoEnvio, .pregFrecuentes {
  padding: 15%;
  margin-left: 20px;
  margin-right: 20px;
  border-bottom: 2px inset black;
}

.publicidad {
  padding: 5%;
  background-color: antiquewhite;
}

@media (min-width: 600px) {
  section h3 {
    font-size: 45px;
  }
}
@media (min-width: 1024px) {
  .grillaAyuda {
    display: grid;
    align-items: center;
    grid-template-areas: "publicidad    publicidad" "mediosDePago  envios          " "calculoEnvio  pregFrecuentes  ";
  }
  .mediosDePago, .envios, .calculoEnvio, .pregFrecuentes {
    border: none;
    padding: 20%;
    margin-left: 0px;
    margin-right: 0px;
  }
  .fondo:hover {
    background-color: rgba(20, 90, 95, 0.055);
  }
}
.redesSociales {
  grid-area: redesSociales;
}

.telefono {
  grid-area: telefono;
}

.mail {
  grid-area: mail;
}

.publicidad {
  grid-area: publicidad;
}

.grillaContacto {
  display: grid;
  grid-template-areas: "publicidad" "redesSociales" "telefono" "mail";
}

.redesSociales, .telefono, .mail {
  padding: 15%;
  margin-left: 20px;
  margin-right: 20px;
  border-bottom: 2px inset black;
}

@media (min-width: 600px) {
  section h3 {
    font-size: 45px;
  }
}
@media (min-width: 1024px) {
  .grillaContacto {
    display: grid;
    align-items: center;
    grid-template-areas: "publicidad    publicidad  publicidad" "mail          telefono    redesSociales";
  }
  section h3 {
    font-size: 30px;
  }
  .redesSociales, .telefono, .mail {
    border: none;
    padding: 20%;
    margin: 0;
  }
  .fondo:hover {
    background-color: rgba(20, 90, 95, 0.055);
  }
}/*# sourceMappingURL=style.css.map */