@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
}

.fondo:hover {
  background-color: rgba(20, 90, 95, 0.055);
}

body {
  font-family: "Poppins", sans-serif;
}

.acercar {
  overflow: hidden;
}

.acercar img {
  height: 250px;
  width: 250px;
  transition: all 2s;
}

.acercar:hover img {
  transform: scale(1.5);
}

.col {
  display: flex;
  height: 600px;
  justify-content: center;
}

.mb-5 {
  margin-top: 1rem;
}

.colorstyle, .bg {
  background-color: rgba(20, 90, 95, 0.771);
}

.h1 {
  font-family: "Poppins", sans-serif;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: rgba(20, 90, 95, 0.771);
}

.h3 {
  font-family: "Poppins", sans-serif;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: rgba(20, 90, 95, 0.771);
}

.suplementos {
  grid-area: suplementos;
}

.accesorios {
  grid-area: accesorios;
}

.ofertas {
  grid-area: ofertas;
}

@media (min-width: 530px) {
  .publicidad {
    height: 100%;
  }
  .grillaIndex {
    display: grid;
    align-items: center;
    grid-template-areas: "publicidad   suplementos" "publicidad   accesorios" "publicidad   ofertas";
  }
  .grillaIndex .publicidad {
    width: 100%;
  }
}
@media (min-width: 700px) {
  .publicidad {
    width: 100%;
    height: 100%;
  }
  .grillaIndex {
    display: grid;
    align-items: center;
    grid-template-areas: "publicidad   publicidad" "suplementos  accesorios" "ofertas                ";
  }
}
@media (min-width: 1024px) {
  .grillaIndex {
    display: grid;
    align-items: center;
    grid-template-areas: "publicidad    publicidad   publicidad" "suplementos   accesorios   ofertas ";
  }
}
.proteina {
  grid-area: proteina;
}

.aminoacidos {
  grid-area: aminoacidos;
}

.creatina {
  grid-area: creatina;
}

.otros {
  grid-area: otros;
}

.publicidad {
  grid-area: publicidad;
}

@media (min-width: 550px) {
  .publicidad {
    width: 100%;
    height: 100%;
  }
  .grillaSuplementos {
    display: grid;
    align-items: center;
    grid-template-areas: "publicidad   creatina" "publicidad   proteina" "publicidad   aminoacidos" "publicidad   otros";
  }
  .grillaSuplementos .publicidad {
    width: 100%;
  }
}
@media (min-width: 700px) {
  .publicidad {
    width: 100%;
    height: 100%;
  }
  .grillaSuplementos {
    display: grid;
    align-items: center;
    grid-template-areas: "publicidad   publicidad" "proteina     creatina" "aminoacidos  otros";
  }
}
@media (min-width: 1024px) {
  .grillaSuplementos {
    display: grid;
    align-items: center;
    grid-template-areas: "publicidad   proteina     creatina" "publicidad   aminoacidos  otros ";
  }
}
@media (min-width: 1245px) {
  .grillaSuplementos {
    display: grid;
    align-items: center;
    grid-template-areas: "publicidad   publicidad   publicidad   publicidad" "proteina     creatina     aminoacidos       otros";
  }
}
.mediosDePago {
  grid-area: mediosDePago;
}

.envios {
  grid-area: envios;
}

.pregFrecuentes {
  grid-area: pregFrecuentes;
}

.calculoEnvio {
  grid-area: calculoEnvio;
}

.publicidad {
  grid-area: publicidad;
}

.grillaAyuda {
  display: grid;
  grid-template-areas: "publicidad" "mediosDePago" "envios" "calculoEnvio" "pregFrecuentes";
}

.mediosDePago, .envios, .calculoEnvio, .pregFrecuentes {
  padding: 15%;
  margin-left: 20px;
  margin-right: 20px;
  border-bottom: 2px inset black;
}

.publicidad {
  padding: 5%;
  background-color: antiquewhite;
}

@media (min-width: 650px) {
  section h3 {
    font-size: 45px;
  }
}
@media (min-width: 1024px) {
  .grillaAyuda {
    display: grid;
    align-items: center;
    grid-template-areas: "publicidad    publicidad" "mediosDePago  envios          " "calculoEnvio  pregFrecuentes  ";
  }
  .mediosDePago, .envios, .calculoEnvio, .pregFrecuentes {
    border: none;
    padding: 20%;
    margin-left: 0px;
    margin-right: 0px;
  }
}
.redesSociales {
  grid-area: redesSociales;
}

.telefono {
  grid-area: telefono;
}

.mail {
  grid-area: mail;
}

.publicidad {
  grid-area: publicidad;
}

.grillaContacto {
  display: grid;
  grid-template-areas: "publicidad" "redesSociales" "telefono" "mail";
}

.redesSociales, .telefono, .mail {
  padding: 15%;
  margin-left: 20px;
  margin-right: 20px;
  border-bottom: 2px inset black;
}

@media (min-width: 600px) {
  section h3 {
    font-size: 45px;
  }
}
@media (min-width: 1024px) {
  .grillaContacto {
    display: grid;
    align-items: center;
    grid-template-areas: "publicidad    publicidad  publicidad" "mail          telefono    redesSociales";
  }
  section h3 {
    font-size: 30px;
  }
  .redesSociales, .telefono, .mail {
    border: none;
    padding: 20%;
    margin: 0;
  }
}
.barras {
  grid-area: barras;
}

.mancuernas {
  grid-area: mancuernas;
}

.discos {
  grid-area: discos;
}

.otros {
  grid-area: otros;
}

.publicidad {
  grid-area: publicidad;
}

@media (min-width: 550px) {
  .publicidad {
    width: 100%;
    height: 100%;
  }
  .grillaAccesorios {
    display: grid;
    align-items: center;
    grid-template-areas: "publicidad   barras" "publicidad   mancuernas" "publicidad   discos" "publicidad   otros";
  }
  .grillaAccesorios .publicidad {
    width: 100%;
  }
}
@media (min-width: 700px) {
  .publicidad {
    width: 100%;
    height: 100%;
  }
  .grillaAccesorios {
    display: grid;
    align-items: center;
    grid-template-areas: "publicidad   publicidad" "barras       mancuernas" "discos       otros";
  }
}
@media (min-width: 1024px) {
  .grillaAccesorios {
    display: grid;
    align-items: center;
    grid-template-areas: "publicidad  barras  mancuernas" "publicidad  discos  otros";
  }
}
@media (min-width: 1245px) {
  .grillaAccesorios {
    display: grid;
    align-items: center;
    grid-template-areas: "publicidad   publicidad   publicidad   publicidad" "barras       mancuernas   discos       otros";
  }
}
footer {
  background-color: rgba(20, 90, 95, 0.771);
  display: grid;
  justify-items: center;
}

.redes {
  display: flex;
  align-items: center;
  flex-direction: column;
  border-bottom: 2px inset black;
  margin: 1rem;
}

.redes a {
  padding: 5px;
}

.nosotros {
  width: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 2px inset black;
  margin: 1rem;
}

.nosotros {
  grid-area: nosotros;
}

.redes {
  grid-area: redes;
}

.grillaFooter {
  display: grid;
  grid-template-areas: "nosotros" "redes";
}

@media (min-width: 1024px) {
  .grillaFooter {
    display: grid;
    grid-template-areas: "nosotros  redes";
  }
}/*# sourceMappingURL=style.css.map */