.h1{
    font-family: 'Poppins', sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgba(20, 90, 95, 0.771); 
}
.h3{
    font-family: 'Poppins', sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgba(20, 90, 95, 0.771);
}

.suplementos{
    grid-area: suplementos;
}
.accesorios{
    grid-area: accesorios;
}
.ofertas{
    grid-area: ofertas;
}
@media(min-width: 530px) {
    .publicidad {
        height: 100%;
    }

    .grillaIndex{
        display: grid;
        align-items: center;
        .publicidad{
        width: 100%;
        }
        grid-template-areas:
            "publicidad   suplementos"
            "publicidad   accesorios"
            "publicidad   ofertas"
        ;
    }
}
@media(min-width:700px) {
    .publicidad {
        width: 100%;
        height: 100%;
    }

    .grillaIndex {
        display: grid;
        align-items: center;
        grid-template-areas:
            "publicidad   publicidad"
            "suplementos  accesorios"
            "ofertas                "
        ;
    }
}
@media(min-width: 1024px){
    .grillaIndex{
        display: grid;
        align-items: center;
        grid-template-areas: 
        "publicidad    publicidad   publicidad"
        "suplementos   accesorios   ofertas "
        ;
    }
}

