header{
    grid-area: header;
}

main{
    grid-area: main;
}

footer{
    grid-area: footer;
}

.grilla{
    display: grid;

    grid-template-areas:
    "header"
    "main"
    "footer";
}

.grid_nosotros{

    display: grid;

}