*{
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}
/* FOOTER */

footer{
    background-color: rgba(20, 90, 95, 0.771);
    display: flex;
    
}
.redes {
    display: flex;
    align-items: center;
    justify-content: flex-start;

}
.redes a{
    padding: 5px;
}

/* MAIN INDEX */

.col{
    margin: 10px;
}


.h1{
    font-family: 'Poppins', sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgba(20, 90, 95, 0.771);; 
}
.h3{
    font-family: 'Poppins', sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgba(20, 90, 95, 0.771);; 
}

.acercar{
    overflow: hidden;

}
.acercar img{
    transition: all 2s;
}
.acercar:hover img{
    transform: scale(1.5);
}






/* MAIN PRODUCTOS 
*/



.bg{
    background-color: rgba(20, 90, 95, 0.771);
}


/*MAIN NOSOTROS*/


header{
    grid-area: header;
}

main{
    grid-area: main;
}

footer{
    grid-area: footer;
}

.grilla{
    display: grid;

    grid-template-areas:
    "header"
    "main"
    "footer";
}

.grid_nosotros{

    display: grid;

}

/* MAIN CONTACTO*/


.mediosDePago{
    grid-area: mediosDePago;
}

.envios{
    grid-area: envios;
}

.pregFrecuentes{
    grid-area: pregFrecuentes;
}

.calculoEnvio{
    grid-area: calculoEnvio;
}
.publicidad{
    grid-area: publicidad;
}

.grillaAyuda{
    display: grid;

    grid-template-areas: 
    "mediosDePago"
    "envios"
    "calculoEnvio"
    "pregFrecuentes"
    "publicidad"
    ;
}

.mediosDePago{
    padding: 15%;
    margin-left: 20px;
    margin-right: 20px;
    border-bottom: 2px inset black;
}

.envios{
    padding: 15%;
    margin-left: 20px;
    margin-right: 20px;
    border-bottom: 2px inset black;
}

.calculoEnvio{
    padding: 15%;
    margin-left: 20px;
    margin-right: 20px;
    border-bottom: 2px inset black;
}

.pregFrecuentes{
    padding: 15%;
    margin-left: 20px;
    margin-right: 20px;
    border-bottom: 2px inset black;
}



.publicidad{
    padding: 5%;
    background-color: antiquewhite;
}

@media (min-width: 600px){
    section h3{
        font-size: 45px;
    }
}

@media (min-width: 1024px){
    .grillaAyuda{
        display: grid;
        align-items: center;
        grid-template-areas: 
        "publicidad    publicidad"
        "mediosDePago  envios          "
        "calculoEnvio  pregFrecuentes  "
        ;
    }

    .mediosDePago, .envios, .calculoEnvio, .pregFrecuentes{
        border:none
    }

    .fondo:hover{
        background-color: rgba(20, 90, 95, 0.055);
    }
}